<?xml version='1.0' encoding='utf-8'?>
<widget id="app.gentelatinamagazine.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>gentelatinamagazine.com</name>
    <description>
        Gente Latina Magazine app.
    </description>
    <author email="support@elevationcreative.net" href="http://elevationcreative.net">
        Elevation Creative Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
